:root {
    --color-navy: #638297;
    --color-orange: #e59941;
    --font-italic: new-atten-round-book, sans-serif;
}

body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 400px;
    min-height: 100vh;
    margin: auto;
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: var(--color-navy);
    text-align:center;
}

button{
    color: #fff;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}