#images{
    scroll-snap-type: x mandatory;
    width: 80%;
    margin: 20px auto;
    overflow-x: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch; /* スマホ対応のため必須 */
    overflow-scrolling: touch; /* スマホ対応のため必須 */
}
#images > .image{
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    flex: none;
}

#del_button{
    display: none;
}

#del_button.visible{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}