.title{
    width: 150px;
    display: block;
    margin: 20px auto 0 auto;
}

#images{
    scroll-snap-type: x mandatory;
    width: 80%;
    margin: 20px auto;
    overflow-x: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch; /* スマホ対応のため必須 */
    overflow-scrolling: touch; /* スマホ対応のため必須 */
}
#images > .image{
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    flex: none;
}

#del-button{
    display: none;
}

#del-button.visible{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-orange);
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}