body {
    background-color: #2a2b2f; 
    max-width: 400px;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}