.title{
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
}

.catch-copy{
    text-align: center;
    color: var(--color-navy);
    font-family: var(--font-italic);
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.back-wrapper{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

h2{
    color: var(--color-navy);
}

#file-select{
    content: 'ファイルを選択';
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
} 

#submit-button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ccc;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
    
}
#submit-button.valid{
    background-color: var(--color-orange);
    cursor: pointer;
}

p{
    color: var(--color-navy);
    margin: 0 20px;
}